*{
    /* font-family: "Press Start 2P", system-ui; */
  font-weight: 400;
  font-style: normal;
  margin: 0px;
  padding: 0px;
}

.navbar-1{
    height: 60px;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    /* align-content: center; */
    align-items: center;
    justify-content: space-evenly;
    font-family: "Press Start 2P", system-ui;
}

.tokki{
    font-size: 30px;
}

.navbar-2{
    height: 25px;
    background-color: #D9D9D9;
    display: flex;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.contact{
    height: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: black;
}

.sec-1{
    margin: 10px;
    display: flex;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    align-items: center;
}

.x{
    height: 200px;
    width: 225px;
    background-color: #D9D9D9;
    margin: 10px;
    font-size: 40px;
    align-content: center;
}

.instagram{
    height: 200px;
    width: 875px;
    background-color: #D9D9D9;
    margin: 10px;
    font-size: 40px;
    align-content: center;
    
}

.sec-2{
    margin: 10px;
    display: flex;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    align-items: center;
}

.phone-no-1{
    height: 200px;
    width: 550px;
    background-color: #D9D9D9;
    margin: 10px;
    font-size: 40px;
    align-content: center;
}


.sec-3{
    margin: 10px;
    display: flex;
    font-family: "Press Start 2P", system-ui;
    text-align: center;
    align-items: center;
}

.box-line-3{
    height: 200px;
    width: 356.5px;
    background-color: #D9D9D9;
    margin: 10px;
    font-size: 40px;
    align-content: center;
}
    background-color: #D9D9D9;
    margin: 20px;
    font-size: 40px;
    align-content: center;
}
