@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    /* font-family: "Press Start 2P", system-ui; */
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*navbar*/

.navbar-1{
    height: 60px;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Press Start 2P", system-ui;
    overflow-x: hidden;
}

.tokki{
    font-size: 30px;
}

.navbar-2{
    height: 25px;
    background-color: #D9D9D9;
    display: flex;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
}

main{
    background-color: #F9F9F9}
    /*slider*/
    .navigation .prev {
      position: absolute;
      z-index: 10;
      font-size: 25px;
      top: 470px;
      left: 10px;
      font-weight: 700;
    }

    .navigation .next {
      left: 50px;
      position: absolute;
      font-size: 25px;
      z-index: 10;
      top: 472px;
    }

    .navigation .nav-btn {
      background: white;
      cursor: pointer;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);text-decoration: none;
    }
  .wrapper{
      max-height:600px;
      border: none;
      display: flex;
      overflow-x: auto;
      margin-top: 5px;
      position: relative;
    }
    .wrapper::-webkit-scrollbar{
      width:0;
    }
    .wrapper .image{
      min-width:49%;
      height: 600px;
      align-items: center;
      background-color:  lightgray;
      line-height: 460px;
      margin-right: 1px;
      margin-left: 5px;
    }
/*h2=with different specs.......?*/
.mydiv{
  height:420px;
  width: 400px;
  position: absolute;
  margin-top: -524px;
  background: white;
  margin-left: 1050px;
}
.black{
  width:20px;
  height: 20px;
  background: black;
  border: none;
  margin-top:2px;
  margin-left: 20px;
}
.blue{
  width:20px;
  height: 20px;
  background:lightsteelblue;
  border: none;
  margin-top:-20px;
  margin-left:43px;
}
.light{
  width:20px;
  height: 20px;
  background:antiquewhite;
  border: none;
  margin-top:-20px;
  margin-left: 65px;
}
.gray{
  width:20px;
  height: 20px;
  background: darkgray;
  border: none;
  margin-top:-20px;
  margin-left: 88px;
}
h2{
  color: black;
  margin-top:20px;
  margin-left:40px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-weight: 600;
  font-size: 40px;

}
 .box1{
  height: 120px;
  width: 220px;
  margin-left: 2px;
  margin-top: 0px;
  position: absolute;
  background: lightgray;
}

.box1 h4{
  margin-top: 20px;
  margin-left: -20px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.box2{
  height: 120px;
  width: 220px;
  margin-left: 230px;
  margin-top: -2px;
  position: absolute;
  background:  lightgray;
}

.box2 h4{
  margin-top: 20px;
  margin-left: 40px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.box3{
  height: 120px;
  width: 220px;
  margin-left: 460px;
  margin-top: -2px;
  position: absolute;
  background:  lightgray;
}

.box3 h4{
  margin-top: 20px;
  margin-left: 40px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.box4{
  height: 120px;
  width: 220px;
  margin-left: 690px;
  margin-top: -2px;
  position: absolute;
  background: lightgray;
}

.box4 h4{
 margin-top: 20px;
 margin-left: 40px;
 font-size: 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 font-weight: 500;
}
/*highlight...............*/
.highlight h1{
  margin-top:150px;
  color: black;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 600;
  margin-left: 30px;
}

.highlight .h1{
  height: 160px;
  width: 190px;
  margin-left: 2px;
  margin-top: 25px;
  position: absolute;
  background: lightgray;
}

.highlight .h2{
  height: 160px;
  width: 190px;
  margin-left: 230px;
  margin-top: 25px;
  position: absolute;
  background: lightgray;
}
.highlight .h3{
  height: 160px;
  width: 190px;
  margin-left:460px;
  margin-top: 25px;
  position: absolute;
  background: lightgray;
}
.highlight .h4{
  height: 160px;
  width: 190px;
  margin-left: 690px;
  margin-top: 25px;
  position: absolute;
  background: lightgray;
}
.highlight .h5{
  height: 160px;
  width: 190px;
  margin-left: 920px;
  margin-top: 25px;
  position: absolute;
  background: lightgray;
}
.highlight .h6{
  height: 160px;
  width: 190px;
  margin-left: 2px;
  margin-top: 220px;
  position: absolute;
  background :lightgray;
}
.highlight .h7{
  height: 160px;
  width: 190px;
  margin-left: 230px;
  margin-top: 220px;
  position: absolute;
  background: lightgray;
}
.highlight .h8{
  height: 160px;
  width: 190px;
  margin-left: 460px;
  margin-top: 220px;
  position: absolute;
  background: lightgray;
}
.highlight .h9{
  height: 160px;
  width: 190px;
  margin-left: 690px;
  margin-top: 220px;
  position: absolute;
  background: lightgray;
}
.highlight .h10{
  height: 160px;
  width: 190px;
  margin-left: 920px;
  margin-top: 220px;
  position: absolute;
  background: lightgray;
}
/*nexttt*/

.imageeee{
  height:400px;
  width:50%;
  margin-top:380px;
  background: white;
 
}
.imagee img{
  height:400px;
  width:450px;
 margin-left:280px;
}

.pareee{
    height: 400px;
    width:50%;
    background:white;
    margin-top:-395px;
    margin-left: 763px;
   }
 .paraabox{
  height:400px;
  width:50%;
  margin-top:-60px;
  background: white;
  position: absolute;
 }
 .paraabox p{
  margin-top: 160px;
  margin-left: 120px;
  margin-right: 180px;
  font-size: 20px;

 }
 .imageeebox {
  height: 400px;
    width:50%;
    background:white;
    margin-top:-20px;
    margin-left: 763px;
    position: absolute;
 } 
.imageeebox img{
  margin-top: -80px;
  }
.con11{
  height:250px;
  width:250px;
  background:white;
  margin-top:400px;
  margin-left:180px;
  position: absolute;
}
.con1 img{
height:280px;
width:240px;
margin-left:10px;
margin-top:-12px;
}
.con22{
  height:250px;
  width:250px;
  background:white;
  margin-top:400px;
  margin-left:500px;
  position: absolute;
}
.con33{
  height:250px;
  width:250px;
  background: white;
  margin-top:400px;
  margin-left:800px;
  position: absolute;
}
.con44{
  height:250px;
  width:250px;
  background:white;
  margin-top:400px;
  margin-left:1100px;
  position: absolute;
}
/*4 parassssssssssss*/
.con5{
  width:100%;
  height:150px;
  background: white;
  margin-top: 680px;
  position: absolute;
}
.p1 p{
  margin-top: 50px;
  margin-left: 210px;
  margin-right: 250px;
  font-size: 20px;
  
}
.con6{
  width:100%;
  height:150px;
  background:white;
  margin-top: 820px;
  position: absolute;
}
.con7{
  width:100%;
  height:150px;
  background:white;
  margin-top: 960px;
  position: absolute;
}
.con8{
  width:100%;
  height:150px;
  background: white;
  margin-top: 1090px;
  position: absolute;
}
/*5 imagesss*/
.im1{
  height:450px;
  width:560px;
  background: gray;
  margin-top:20px;
  margin-left:80px;
  position: absolute;
}

.im2{
  height:200px;
  width:220px;
  background: gray;
  margin-top:20px;
  margin-left:710px;
  position: absolute;
}
.im2img{
  height:280px;
  width:240px;
  margin-left:10px;
  margin-top:-12px;
  }
.im3{
  height:200px;
  width:220px;
  background: gray;
  margin-top:20px;
  margin-left:980px;
  position: absolute;
}
.im3 img{
  height:280px;
  width:240px;
  margin-left:10px;
  margin-top:-12px;
  }
.im4{
  height:200px;
  width:220px;
  background: gray;
  margin-top:270px;
  margin-left:710px;
  position: absolute;
}
.im4 img{
  height:280px;
  width:240px;
  margin-left:10px;
  margin-top:-12px;
  }
.im5{
  height:200px;
  width:220px;
  background: gray;
  margin-top:270px;
  margin-left:980px;
  position: absolute;
}
.im5 img{
  height:280px;
  width:240px;
  margin-left:-10px;
  margin-top:-50px;
  }
/*3 containerrrrrr*/
.pic1{
  height:450px;
  width:500px;
  background: white;
  margin-top:20px;
  margin-left:20px;
  position: absolute;
}
.pic2{
  height:450px;
  width:500px;
  background:white;
  margin-top:20px;
  margin-left:530px;
  position: absolute;
}
.pic3{
  height:450px;
  width:500px;
  background: white;
  margin-top:20px;
  margin-left:1040px;
  position: absolute;
}
/* footer */

.leftside{
  height: 700px;
  width: 550px;
  margin-bottom: 100px;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
}

.mail{
  height: 350px;
  width: 950px;
  margin-top: 540px;
  justify-self: right;
  margin-right: 170px;
}

.para{
  height: 330px;
  width: 950px;
  margin-top: 20px;
  justify-self: right;
  margin-right: 170px;
  margin-bottom: 50px;
}

.leftside h2{
  align-self: center;
  font-family: "Press Start 2P", system-ui;
  font-size: 35px;
  margin-top: 58px;
}

.leftside h2 a{
  text-decoration: none;
  color: black;
  column-gap: 40px;
  margin-top: 30px;
}
/*mailllllllllll*/
.mail h2{
  align-self: center;
  font-family: "Press Start 2P", system-ui;
  font-size: 35px;
  position: absolute;
  margin-top: 50px;
  margin-left: 120px;
}

input{
  position: absolute;
  margin-left: 120px;
  margin-top: 130px;
  width: 750px;
  height: 60px;
  outline: none;
  font-size: 40px;
  padding: 0 10px;
  line-height: 80px;
  background: transparent;
  transition: 0.5 ease;
  font-family: serif;
  border: 0;
  border-bottom: 2px solid black;
  font-weight: 20;
}
.mail button{
  height: 50px;
  width: 100px;
  position: absolute;
  margin-right: 360px;
  border: none;
  margin-left: 790px;
margin-top: 128px;
background: none;
}
/*lastparaaaaaaaaaaa*/
.lastpara{
  height: 320px;
  width:480px;
  position: absolute;
  background:white;
  margin-left: 520px;
  margin-top:0px;
}
.lastpara h1{
  margin-top:30px;
  margin-left: 10px;
  font-size: 25px;
   font-family:"Press Start 2P", system-ui;
}
.lastpara p{
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 90px;
  font-size: 20px;
  word-spacing: 7px;
  line-height: 25px;
  font-family: "lexend Deca",sans-serif;
}
/*iconsss*/
.icon1{
  height: 100px;
  width:100px;
  border-radius: 50%;
  background: gray;
  margin-top: 120px;
  margin-left: 1040px;
}
.icon2{
  height: 100px;
  width:100px;
  border-radius: 50%;
  background: gray;
  margin-top: -105px;
  margin-left: 1160px;
}
.icon3{
  height: 100px;
  width:100px;
  border-radius: 50%;
  background: gray;
  margin-top: 20px;
  margin-left: 1040px;
}
.icon4{
  height: 100px;
  width:100px;
  border-radius: 50%;
  background: gray;
  margin-top: -105px;
  margin-left: 1160px;
}
