@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
*{
    /* font-family: "Press Start 2P", system-ui; */
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    
}
/*navbar*/

.navbar-1{
    height: 60px;
    width: 100%;
    color: white;
    background-color: black;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Press Start 2P", system-ui;
    overflow-x: hidden;
}

.tokki{
    font-size: 30px;
}

.navbar-2{
    height: 25px;
    background-color: #D9D9D9;
    display: flex;
    font-size: 15px;
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
}

main{
    background-color: #F9F9F9}

    /*5 containerrrrrrr*/
    .contain1{
            height: 460px;
            width: 35%;
            margin-left: 220px;
            margin-top: 20px;
            position: absolute;
            transition: .3s ease-in-out;
            background:gray;
        
    }
    .containn1{
        height: 200px;
        width: 200px;
        border:2px dashed black;
        position: absolute;
        margin-top: 120px;
        margin-left: 180px;
    }
    .contain2{
        height: 460px;
        width: 35%;
        margin-left: 780px;
        margin-top: 20px;
        position: absolute;
        transition: .3s ease-in-out;
        background: gray;
    }
    .containn2{height: 200px;
    width: 200px;
    border:2px dashed black;
    position: absolute;
    margin-top: 120px;
    margin-left: 180px;
    }
    .vs{
        height: 80px;
        width: 80px;
        background: black;
        position: absolute;
        margin-top: 180px;
        margin-left: 730px;
    }
    /*review*/
    .bar{
        background-color: rgb(192,192,192);
        width:80%;
        border-radius: 15px;
        margin-top: 40px;
        margin-left:30px;
        height: 12px;
    
    }.progess{
        background-color: black;
        height: 12px;
    }
    
    .r1{
        height:160px;
        width: 700px;
        background:white;
        margin-top: 20px;
        margin-left: 70px;
    }
    .p1{
        width:75%;
    }
    .r2{
        height:160px;
        width: 700px;
        background:white;;
        margin-top: 66px;
        margin-left: 0px;
    }
    .p2{
        width:75%;
    }
    .r3{
        height:160px;
        width: 700px;
        background:white;;
        margin-top:5px;
        margin-left: 0px;
    }
    .p3{
        width:75%;
    }
    .r4{
        height:160px;
        width: 700px;
        background: white;;
        margin-top: 5px;
        margin-left: 0px;
    }
    .p4{
        width:75%;
    }
    .r5{
        height:160px;
        width: 700px;
        background: white;;
        margin-top: 5px;
        margin-left: 0px;
    }
    .p5{
        width:75%;
    }
    .r6{
        height:160px;
        width: 700px;
        background:white;;
        margin-top: 5px;
        margin-left: 0px;
    }
    .p6{
        width:75%;
    }
    .r7{
        height:160px;
        width: 700px;
        background: white;;
        margin-top: -990px;
        margin-left: 710px;
    }
    .p7{
        width:75%;
    }
    .r8{
        height:160px;
        width: 700px;
        background:white;;
        margin-top: 5px;
        margin-left: 710px;
    }
    .p8{
        width:75%;
    }
    .r9{
        height:160px;
        width: 700px;
        background:white;;
        margin-top: 5px;
        margin-left: 710px;
    }
    .p9{
        width:75%;
    }
    .r10{
        height:160px;
        width: 700px;
        background:white;;
        margin-top: 5px;
        margin-left: 710px;
    }
    .p10{
        width:75%;
    }
    .r11{
        height:160px;
        width: 700px;
        background:white;;
        margin-top: 5px;
        margin-left: 710px;
    }
    .p11{
        width:75%;
    }
    .r12{
        height:160px;
        width: 700px;
        background:white;;
        margin-top: 5px;
        margin-left: 710px;
    }
    .p12{
        width:75%;
    }
    /*table1*/
    .cases{
        height:40px;
    width:100px;
margin-top:20px;
margin-left:710px;
background: black;    }
table{
    width:150%;
    margin-left: 150px;
    margin-right: 250px;
    height: 80px;
    border: 1px solid black;

}
td{
    height: 30px;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 20px;

}
/*table2 */
.display{
    height:40px;
width:120px;
margin-top:20px;
margin-left:710px;
background: black;    }
table{
width:80%;
margin-left: 150px;
margin-right: 250px;
height: 80px;
border: 1px solid black;

}
td{
height: 30px;
text-align: center;
border-bottom: 1px solid black;
font-size: 20px;

}/*table3 */
.battery{
    height:40px;
width:120px;
margin-top:20px;
margin-left:710px;
background: black;    }
table{
width:80%;
margin-left: 150px;
margin-right: 250px;
height: 80px;
border: 1px solid black;

}
td{
height: 30px;
text-align: center;
border-bottom: 1px solid black;
font-size: 20px;

}
/*table4 */
.processor{
    height:40px;
width:120px;
margin-top:20px;
margin-left:710px;
background: black;    }
table{
width:80%;
margin-left: 150px;
margin-right: 250px;
height: 80px;
border: 1px solid black;

}
td{
height: 30px;
text-align: center;
border-bottom: 1px solid black;
font-size: 20px;

}
/*table5 */
.graphic{
    height:40px;
width:120px;
margin-top:20px;
margin-left:710px;
background: black;    }
table{
width:80%;
margin-left: 150px;
margin-right: 250px;
height: 80px;
border: 1px solid black;

}
td{
height: 30px;
text-align: center;
border-bottom: 1px solid black;
font-size: 20px;

}
/*table6*/
.RAM{
    height:40px;
width:210px;
margin-top:20px;
margin-left:670px;
background: black;    }
table{
width:80%;
margin-left: 150px;
margin-right: 250px;
height: 80px;
border: 1px solid black;

}
td{
height: 30px;
text-align: center;
border-bottom: 1px solid black;
font-size: 20px;

}
/*table7 */
.connectivity{
    height:40px;
width:150px;
margin-top:20px;
margin-left:690px;
background: black;    }
table{
width:80%;
margin-left: 150px;
margin-right: 250px;
height: 80px;
border: 1px solid black;

}
td{
height: 30px;
text-align: center;
border-bottom: 1px solid black;
font-size: 20px;

}
  /*table8 */
.input{
    height:40px;
width:120px;
margin-top:20px;
margin-left:710px;
background: black;    }
table{
width:80%;
margin-left: 150px;
margin-right: 250px;
height: 80px;
border: 1px solid black;

}
td{
height: 30px;
text-align: center;
border-bottom: 1px solid black;
font-size: 20px;

}
/*comment*/
.name input{
    width: 80%;
    height: 60px;
    background: gray;
    border: none;
    margin-top:20px;
    font-size: 60px;
}
::-ms-input-placeholder{margin-left: 250px;

}
.message input{ width: 80%;
    height: 160px;
    background: gray;
    border: none;
    margin-top:100px;
    font-size: 120px;
align-items: center;}
.send button{
    margin-top:300px;
    margin-left:45%;
    height: 40px;
    width: 80px;
    border: none;
    background: black;
}
.send a{
    text-decoration: none;
    color:white;
    font-size: 20px;
}
/* footer */

.leftside{
    height: 700px;
    width: 550px;
    margin-bottom: 100px;
    margin-left: 10px;
    margin-top: 2px;
    position: absolute;
  }
  
  .mail{
    height: 350px;
    width: 950px;
    margin-top: 20px;
    justify-self: right;
    margin-right: 170px;
  }
  
  .para{
    height: 330px;
    width: 950px;
    margin-top: 20px;
    justify-self: right;
    margin-right: 170px;
    margin-bottom: 50px;
  }
  
  .leftside h2{
    align-self: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 35px;
    margin-top: 58px;
  }
  
  .leftside h2 a{
    text-decoration: none;
    color: black;
    column-gap: 40px;
    margin-top: 30px;
  }
  /*mailllllllllll*/
  .mail h2{
    align-self: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 35px;
    position: absolute;
    margin-top: 50px;
    margin-left: 120px;
  }
  
  input{
    position: absolute;
    margin-left: 120px;
    margin-top: 130px;
    width: 750px;
    height: 60px;
    outline: none;
    font-size: 40px;
    padding: 0 10px;
    line-height: 80px;
    background: transparent;
    transition: 0.5 ease;
    font-family: serif;
    border: 0;
    border-bottom: 2px solid black;
    font-weight: 20;
  }
  .mail button{
    height: 50px;
    width: 100px;
    position: absolute;
    margin-right: 360px;
    border: none;
    margin-left: 790px;
  margin-top: 128px;
  background: none;
  }
  /*lastparaaaaaaaaaaa*/
  .lastpara{
    height: 320px;
    width:480px;
    position: absolute;
    background:white;
    margin-left: 520px;
    margin-top:0px;
  }
  .lastpara h1{
    margin-top:30px;
    margin-left: 10px;
    font-size: 25px;
     font-family:"Press Start 2P", system-ui;
  }
  .lastpara p{
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 90px;
    font-size: 20px;
    word-spacing: 7px;
    line-height: 25px;
    font-family: "lexend Deca",sans-serif;
  }
  /*iconsss*/
  .icon1{
    height: 100px;
    width:100px;
    border-radius: 50%;
    background: gray;
    margin-top: 120px;
    margin-left: 1040px;
  }
  .icon2{
    height: 100px;
    width:100px;
    border-radius: 50%;
    background: gray;
    margin-top: -105px;
    margin-left: 1160px;
  }
  .icon3{
    height: 100px;
    width:100px;
    border-radius: 50%;
    background: gray;
    margin-top: 20px;
    margin-left: 1040px;
  }
  .icon4{
    height: 100px;
    width:100px;
    border-radius: 50%;
    background: gray;
    margin-top: -105px;
    margin-left: 1160px;
  }
